body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.scores {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scores div {
    width: 35%;
    text-align: center;
}
button{
    margin: 40px 20px;
    margin-top: 0px;
    flex :1
}
.buttons {
    display: flex;
    justify-content: center;  

}

.hidden {
    text-indent: -9999px;
}
